{
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"printWidth": 140,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false
}
