@import 'tailwindcss';

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	.visually-hidden {
		position: absolute;
		position: absolute !important;
		width: 1px !important;
		height: 1px !important;
		padding: 0 !important;
		margin: -1px !important;
		overflow: hidden !important;
		clip: rect(0, 0, 0, 0) !important;
		white-space: nowrap !important;
		border: 0 !important;
	}

	a:focus,
	button:focus,
	input:focus,
	textarea:focus,
	select:focus {
		@apply outline-2 outline-offset-2 outline-blue-200;
	}

	.button {
		@apply flex items-center rounded bg-gradient-to-b from-blue-100 to-blue-200 px-4 py-3 text-xl text-blue-900 shadow-sm hover:from-blue-50 hover:to-blue-100 focus:ring-2 focus:ring-blue-100 focus:outline-none;
	}
	.button-icononly {
		@apply px-4;
	}
	.button-iconleft {
		@apply pl-2;
	}
	.button-iconright {
		@apply pr-2;
	}
}
