---
import MainLayout from '../layouts/Layout.astro'
---

<MainLayout PAGE_TITLE="404 - Page Not Found">
	<h1 class="animate font-bold uppercase leading-none tracking-tight" style="font-size: clamp(3.05rem, 6.06vi + 1.54rem, 6.39rem);">
		404 &mdash; <br /> Page Not Found
	</h1>
	<a href="/" class="animate mt-9 underline hover:text-neutral-400">&larr; Return Home</a>
</MainLayout>
