---
import { ViewTransitions } from 'astro:transitions'
import { AstroFont } from 'astro-font'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import { BRAND_NAME, SITE_TITLE, SITE_DESCRIPTION } from '../constants'
const { PAGE_TITLE = 'Home' } = Astro.props

interface Props {
	PAGE_TITLE: string
}
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="description" content={SITE_DESCRIPTION} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<GoogleAnalytics />
		<AstroFont
			config={[
				{
					src: [],
					name: 'Fredoka',
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap',
					preload: true,
					display: 'swap',
					selector: 'body',
					fallback: 'sans-serif',
				},
			]}
		/>
		<title>{SITE_TITLE} - {PAGE_TITLE}</title>
		<ViewTransitions />
	</head>
	<body
		class="mx-auto flex h-full max-w-screen-lg flex-col bg-[linear-gradient(rgba(22,78,99,0.9),rgba(23,37,84,0.9)),url('/bg.webp')] p-6 text-white">
		<main class="flex h-full flex-grow flex-col justify-center">
			<slot />
		</main>
		<footer class="mx-auto w-3/4 space-y-4 text-balance pt-9 text-center text-sm tracking-wide text-blue-100">
			<p>&copy; 2024 {BRAND_NAME} All rights reserved. For June ♥️.</p>
		</footer>
	</body>
</html>

<style is:global lang="postcss">
	.button {
		@apply shadow-sm flex items-center rounded bg-gradient-to-b from-cyan-300 to-blue-300 px-6 py-3 text-xl  text-blue-900 hover:from-cyan-200 hover:to-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-100;
	}
	.button-icononly {
		@apply px-4;
	}
	.button-iconleft {
		@apply pl-3;
	}
	.button-iconright {
		@apply pr-3;
	}
</style>
